<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
    <a class="navbar-brand" href="#">
        <img src="/img/logo/logo-dualcolor.svg" alt="lowRISC">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      onclick="document.getElementById('navbarCollapse').classList.toggle('show')"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {{- range sort .Site.Menus.main }}
        <li class="nav-item">
          <a href="{{ .URL | relLangURL }}" class="nav-link">
            {{ .Name }}
          </a>
        </li>
      {{- end -}}
      <li class="nav-item">
        <a class="btn lr-navbar-btn-gh" href="https://github.com/lowrisc">
          GitHub
        </a>
      </li>
      </ul>
    </div>
  </div>
  </nav>
</header>
