[build.environment]
  YARN_VERSION = "1.17.3"
  NPM_VERSION = "6.4.1"
  HUGO_VERSION = "0.59.0"

[build]
  command = "yarn run build"
  publish = "dist"

[context.deploy-preview]
  command = "yarn run build:preview"