{{ define "title" }}The lowRISC Blog &middot; {{ $.Site.Title }}{{end}}
{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="container lr-blog lr-blog-list">
  <h1>The lowRISC blog</h1>

  {{ range .Paginator.Pages }}
  <article class="media">
    <!-- this <div> includes the title summary -->
    <div class="media-body">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="text-justify">
        {{ .Summary }}
      </p>

      <p>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </p>
    </div>

    {{ with index (.Resources.ByType "image") 0}}
      {{ $img1x := .Resize "150x" }}
      {{ $img2x := .Resize "300x" }}
      <img
        class="align-self-center ml-3 img-thumbnail d-none d-md-block"
        srcset='
          {{- with $img1x.RelPermalink }}{{.}} 1x, {{ end -}}
          {{- with $img2x.RelPermalink }}{{.}} 2x {{ end -}}'
        src="{{ with $img1x.RelPermalink }}{{.}}{{ end }}">
    {{end}}
  </article>
  {{ end }}

  <div class="lr-blog-list-pagination">
    {{ template "_internal/pagination.html" . }}
  </div>

</div>
{{ end }}
