{{ define "title" }}{{ $.Site.Title }}{{end}}
{{ define "main" }}

<div class="jumbotron jumbotron-fluid lr-home-mainjumbo">
  <div class="container">
    <h1 class="lr-home-mainjumbo">
      Open to the core
    </h1>
    <p class="lead">
      lowRISC is a not-for-profit company with a full stack engineering team based in Cambridge, UK.
      We use collaborative engineering to develop and maintain open source silicon designs and tools.
    </p>
  </div>
</div>

<div class="container lr-blog lr-blog-list">
  {{ range first 1 .Paginator.Pages }}
  {{ partial "blog-summary.html" . }}
  {{end}}
</div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container lr-home-marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/open_source.png" alt="open source icon" width="140" height="140">
        <h2>Open source</h2>
        <p>
          Our work is open and permissively licensed, helping to move the industry forward with flexible, accessible and effective systems and tools. We implement and have expertise in the free and open RISC-V ISA.
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/durable.png" alt="Durable icon" width="140" height="140">
        <h2>Durable technology</h2>
        <p>lowRISC creates infrastructure which will be used, useful and sustainable for future generations of computer systems, by getting the foundations right and not cutting corners.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/excellence.png" alt="Excellence icon" width="140" height="140">
        <h2>Full stack technical excellence</h2>
        <p>High quality, robust engineering and great documentation are essential to provide useful and maintainable technology. lowRISC create, support and maintain open cores, hardware IP blocks, compiler infrastructure and test and verification systems.</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/collaborative.png" alt="collaborative icon" width="140" height="140">
        <h2>Collaborative engineering</h2>
        <p>
          We work closely with others, testing new ideas and developing systems together, and sharing what we learn and build. lowRISC is part of the open technology ecosystem, and fosters inclusive and participatory communities.
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/pragmatic.png" alt="pragmatic icon" width="140" height="140">
        <h2>Pragmatic</h2>
        <p>We make choices that enable us to take concrete steps as best we can towards open source silicon being used at scale. lowRISC aims to show that it's entirely possible to develop open source silicon solutions at a quality suitable for large-scale production and deployment.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/img/home/independent.png" alt="independent icon" width="140" height="140">
        <h2>Independent and <br>not-for-profit</h2>
        <p> lowRISC is a neutral home for multi-partner projects delivering verified, high quality IP and tools. This enables shared investment into pre-competitive technology and open standards, providing the solid foundations necessary for the rapid development cycles of next generation silicon products.</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette pb-5">
      <div class="col-md-5 my-auto">
        <img class="featurette-image img-fluid mx-auto" src="/img/opentitan-partners.svg" alt="OpenTitan partners">
      </div>
      <div class="col-md-7 my-lg-5 my-md-3">
        <h2 class="featurette-heading">
          Announcing OpenTitan, <span class="text-muted"> the first transparent silicon root of trust</span>
        </h2>

        <div class="lead">
            <p>We are excited to <a href="/blog/2019/11/announcing-opentitan-the-first-transparent-silicon-root-of-trust/">unveil</a> the <a href="https://opentitan.org">OpenTitan</a> silicon root of trust project, a new effort built using the successful collaborative engineering model created by lowRISC in partnership with Google and other commercial and academic partners. </p>
            <p>This effort sets a new bar for transparency in trusted silicon, and lowRISC is proud to serve as both steward and not-for-profit engineering contributor to OpenTitan, the world’s first open source silicon root of trust.</p>
            <p>Silicon root of trust chips increase trust in the integrity of the infrastructure on which software runs.
              <i>Open sourcing</i> the silicon design makes it more transparent, trustworthy, and ultimately, secure.</p>

        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette pb-5">
      <div class="col-md-7 my-lg-5 my-md-3">
        <h2 class="featurette-heading">Collaborative engineering <span class="text-muted"> for open source silicon.</span></h2>

        <div class="lead">
            <ul>
              <li><a href="https://github.com/lowRISC">High quality designs & documentation</a></li>
              <li> <a href="/about">Full stack expertise</a></li>
              <li> <a href="/open-silicon">Bringing the benefits of open source software to the hardware world</a></li>

            </ul>
        </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/img/home/lowRISC-ecosystem-v2.png" alt="lowRISC ecosystem">
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{{ end }}
