{{ define "main" }}

<div class="jumbotron jumbotron-fluid lowrisc-mainjumbo">
  <div class="container">
    <h1 class="display-4">
      Collaborative engineering <br/>
      for open source silicon
    </h1>
    <p class="lead" style="width:45vw">
      lowRISC is a not-for-profit company with a full stack engineering team based in Cambridge, UK.
      We use collaborative engineering to develop and maintain open source silicon designs and tools.
    </p>
  </div>
</div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Open Source</h2>
        <p>
          Our work is open and permissively licensed, moving the whole industry forward with flexible, accessible and effective systems and tools. We implement and have expertise in the free and open RISC-V ISA.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Durable technology</h2>
        <p>lowRISC creates infrastructure which will be used, useful and sustainable for future generations of computer systems, by getting the foundations right and not cutting corners.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Full stack technical excellence</h2>
        <p>High quality, robust engineering and great documentation are essential to provide useful and maintainable technology. lowRISC create, support and maintain open cores, hardware IP blocks, compiler infrastructure and test and verification systems.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">At the center <span class="text-muted">of the open source silicon revolution.</span></h2>

        <div  class="lead">
            <p>The open source hardware ecosystem includes organisations working in many different ways, and working together to drive adoption of open source silicon. New relationships and partnerships are developing all the time.</p>

            <p>lowRISC is a <a href="https://riscv.org/members-at-a-glance/">Founding Silver member</a> of <a href="https://riscv.org/">the RISC-V Foundation</a>.</p>

            <p>lowRISC staff are actively engaged in numerous key community initiatives and are frequent speakers at events such as the RISC-V Workshops, ORConf, and LLVM Developers’ Meetings.</p>
          </div>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/img/home/lowRISC-ecosystem-v2.png" alt="ecosystem">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{{ end }}
