@import "variables";

.lr-blog-list-pagination {
  margin-top: 3rem;
}

.lr-blog-list-pagination > ul {
  -webkit-box-pack: center;
  justify-content: center;
}

.lr-blog-list article {
  margin-bottom: 2rem;
}

.lr-blog-list h2 > a {
  color: $color-lowrisc-charcoal;
}

.lr-blog img {
  // Ensure all blog images are responsive: only as wide as the viewport
  @include img-fluid;
}

blockquote {
  font-size: 150%;
  text-align: center;
  color: DimGrey;
  font-style: italic;
}
